* { margin: 0; padding: 0; }

.logo {
    display: block;
    background-image: url(../images/rsz_rsz_donald_duck-xmini.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    height: 30px;
    width: 30px;
}

main {
    display: block;
    width: 1200px;
    height: 555px;
    left: 0px;
    top: 123px;

    background: #F9BDBD;
}

.profilePicture {
    display: block;
    position: absolute;
    width: 250px;
    height: 350px;
    left: 88px;
    top: 170px;

    background-repeat: no-repeat;
    background-image: url(../images/profilepicture.png);
}

.pictureBackground {
    position: absolute;
    width: 278px;
    height: 388px;
    left: 40px;
    top: 123px;

    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;

    background: #F7DEA6;
}

main h1 {
    position: absolute;
    width: 600px;
    height: 98px;
    left: 506px;
    top: 123px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;

    color: #3E3F43;
}

main h2 {
    position: absolute;
    width: 600px;
    height: 66px;
    left: 506px;
    top: 193px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
}

aside h2 {
    position: relative;
    width: auto;
    height: 40px;
    left: 40px;
    margin: 15px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 133% */


    color: #000000;

}

aside p {
    position: relative;
    left: 3.33%;
    right: 34.92%;
    /* top: 25.53%;
    bottom: 61.33%; */
    width: 800px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    /* or 28px */

    text-align: justify;

    color: #000000;

}

.ex {
    display: inline-block;
}

.ex_container {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 18%;
    border-radius: 20px;
    overflow: hidden;
}

.ex_container:nth-child(1) {
    background-color: #FDEDE5;
}

.ex_container:nth-child(2) {
    background-color: #EBF1FF;
}

.ex_container:nth-child(3) {
    background-color: #EBFFEC;
}

.ex_container:child4 {
    background-color: #FFEBFC;
}

.ex_container:child5 {
    background-color: #FFFEEB;
}

.view_button {
    width: 88px;
    height: 24px;
    top: 8px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
}

li {
    position: relative;
    margin: 10px;
    left: 80px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.62%;
    /* or 28px */

    text-align: justify;

    color: #000000;
}

aside div {
    position: relative;
    margin: 20px;
    width: 1120px;
    height: 508px;
    left: 40px;

background: #F9BDBD;
}

footer {
    display: block;
    position: absolute;
    width: 1200px;
    height: 301px;

    background: #bebebe;
}

footer h2 {
    position: relative;
    /* width: 81px; */
    height: 25px;
    left: 30px;
    top: 30px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #333333;
}

footer a {
    position: relative;
    width: 60px;
    height: 19px;
    top: 40px;
    left: 40px;

    text-decoration: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    color: #8D8D8D;
}

footer a:hover {
        color: #f0f1f0;
        text-decoration:underline;
}

.rights {
    position: relative;
    bottom: 10px;

    text-decoration: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}